* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topo {
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px
}

a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}