body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 15px
}

nav {
    background-color: rgb(57, 57, 57);
    padding: 15px
}

nav a{
    color:white;
    text-decoration: none;
    margin-left: 15px
}

footer {
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white
}